//HEADINGS
.heading__h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.heading__h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.heading__h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.heading__h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.heading__h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

//BODY TEXT
.body-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}