//DEVICES
$tablet: 768px;
$pc: 1024px;

//COLORS
$black: #120F18;
$darkBlue: #27415C;
$blue: #5C9DDC;
$turquoise: #46D6DD;
$ligthBlue: #DDFFFF;
$white: #FFFFFF;

//FONTS 
$mainFont: 'Montserrat', sans-serif;

