header{
  @include forTablet {
    display: flex;
  justify-content: center;
  }
  
  @include forPc {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    @include forPc {
      padding: 16px 0;
      justify-content: flex-start;
    }
  
    &__menu {
  
      &-icon {
        display: block;
        height: 40px;
        width: 40px;
        background: url(../images/menu.png) no-repeat;
  
        @include forPc {
          display: none;
        }
      }
  
      &-items{
        display: none;
        padding-left: 80px;
  
        @include forPc {
          display: flex;
          gap: 32px;
        }
  
        a{
          color: $darkBlue;
        }
      }
    }
  }
}