* {
  margin: 0;
  padding: 0;
  box-sizing: border-box,
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  font-family: $mainFont;
  background-color: $white;
  display: flex;
  flex-direction: column;

  &__logo {
    height: 48px;
  }

  &__vector {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;

    @include forPc {
      display: block;
      height: 230px;
    }

    @include forXLpc {
      display: block;
      height: 349px;
    }
  }

  &__link{
    color: $blue;
    cursor: pointer;

    &:hover{
      color: $black;
    }
  }

  &__button{
    border: none;
    background: none;
    height: 56px;
    padding: 16px 32px;
    border-radius: 16px;
    background-color:$turquoise;
    color: $white;
    cursor: pointer;

    &:hover{
      background-color: $darkBlue;
      
    }
  }

}