*{
  margin: 0;
  padding: 0;
}

.App{
  font-family: $mainFont;
  background-color: $white;

  @include forTablet {
    margin: 0 100px;
  }

  @include forPc {
    margin: 0 240px;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }
}