@import './utils/variables';
@import './utils/fonts';
@import './utils/mixins';
@import './utils/grids';
@import './Structure';
@import './Header';
@import './Main';
@import './MobileSection';
@import './LaptopSection';
@import './Footer';